$default-bg : #27272A;
$active-bg: #A1A1AA;

$default-text-color: #FFFFFF;
$accent-text-color: #A1A1AA;

$default-text-color: #FFFFFF;
$active-text-color: #FFFFFF;
$not-active-text-color: #A1A1AA;

$block-line: #414144;
$bottom-block-line: #414144;

$block-active-line: #FFFFFF;