@use './colors' as colors;
@use 'sass:list';
@use 'sass:map';

$text-variants: (
    project_abbr: (10px, 400, 11.72px, 0%),
    project_text: (14px, 400, 16.41px, 0%),
    header-button: (14px, 400, 16.41px, 0%),
    list-item: (14px, 400, 16.41px, 0%),
    item-full-name: (18px, 400, 21.09px, 0%),
    table-head:(14px, 400, 18.2px, 0%),
    table-body:(14px, 400, 18.2px, 0.1px),
);


@mixin text($variant) {
    $values: map.get($text-variants, $variant);

    font-family: 'Roboto', sans-serif;
    font-size: list.nth($values, 1);
    font-weight: list.nth($values, 2) !important;
    line-height: list.nth($values, 3);
    letter-spacing: list.nth($values, 4);
}
  

// @include mixins.text(_);

@mixin border($weight: 1px, $color: colors.$block-line) {
    border: $weight solid $color;
}

// @include mixins.border();

@mixin borderbr($weight: 1px, $color: colors.$block-line) {
    border-bottom: $weight solid $color;
    border-right: $weight solid $color;
}

// @include mixins.borderbr();

@mixin borderb($weight: 1px, $color: colors.$block-line) {
    border-bottom: $weight solid $color;
}

// @include mixins.borderb();

@mixin borderr($weight: 1px, $color: colors.$block-line) {
    border-right: $weight solid $color;
}

// @include mixins.borderr();

@mixin borderRadius($radius : 6px) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}
// @include mixins.borderRadius();