@use '/src/styles-var/colors' as colors;
@use '/src/styles-var/mixins' as mixins;

.control_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.control_buttons{
    z-index: 2;
    position: relative;
    margin-left: 30px;
    width: 55px;
    height: 28px;
    @include mixins.borderRadius();
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: colors.$default-bg;
    .control_button:last-child{
        visibility: hidden;
    }
    &:hover{
        background-color: colors.$button-cd-bg;
        .control_button:last-child{
            visibility: visible;
        }
    }
}