@use '/src/styles-var/colors' as colors;
@use '/src/styles-var/mixins' as mixins;

.table_head_row{
    th:nth-child(2){
        width: 30%;
    }
    th{
        width: 200px;
        padding: 0 20px;
        height: 60px;
        @include mixins.borderb();
        @include mixins.text(table-head);
        color: colors.$accent-text-color;
    }
}

.list_connection{
    position: absolute;
    left: 30px;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.connect {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
}

.centerVerticalLine{
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 2px;
    height: 60px;
    background-color: #666;
}

.centerHorizontalHalfLine {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #666;
}



