@use '../../styles-var/colors' as colors;
@use '../../styles-var/mixins' as mixins;

.header{
    width: 100%;
    height: 88px;
    background-color: colors.$default-bg;
}

.header_top{
    color: colors.$default-text-color;
    display: flex;
    gap: 10px;
    height: 50%;
    border-bottom: 1px solid colors.$bottom-block-line;
}

.header_bottom{
    display: flex;
    height: 50%;
    user-select: none;
}

.button{
    padding: 10px 10px;
    height: 100%;
    color: colors.$not-active-text-color;
    &:hover{
        color: colors.$active-text-color;
    }
}

.static_button{
    color: colors.$not-active-text-color;

}
.active_buttons{
    display: flex;
    gap: 10px;
}

.active_button{
    @include mixins.text(header-button);
    color: colors.$active-text-color;
    @include mixins.borderb(2px, colors.$block-active-line);
    padding-bottom: 8px;
}

.project_custom_select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    min-width: 240px;
    height: 100%;
    padding: 0 10px 0 20px;
    @include mixins.borderbr();
    cursor: pointer;
}

.custom_select__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    span{
        color: colors.$not-active-text-color;

    }
}

.text__project_text{
    @include mixins.text(project_text)
}

.text__project_abbr{
    @include mixins.text(project_abbr)
}

.project_list_active{
    width: 100%;
    display: flex;
    @include mixins.borderb();
}

.project_full_name_item{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    @include mixins.borderr();
    cursor: pointer;
}

.project_full_name{
    @include mixins.text(item-full-name);
    color: colors.$default-text-color;
    padding: 0 15px;
}

.workspace{
    display: flex;
    width: 100%;
    flex-grow: 1;
    background-color: colors.$default-bg;
}

.project_list{
    width: 240px;
    max-width: 240px;
    flex-grow: 1;
    @include mixins.borderr();
}

.project_list_item{
    height: 32px;
    @include mixins.text(list-item);
    color: colors.$default-text-color;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left:15px;
    gap: 15px;
}

.item__active{
    background-color: colors.$active-bg;
}